* {
  font-family: "microsoft jhenghei","sans-serif"; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem; }

.center {
  text-align: center; }

ul {
  list-style: none; }

a {
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out; }
  a:link, a:visited, a:hover {
    text-decoration: none;
    color: #454545;
    position: relative; }
  a:hover {
    color: #F04F47; }
    a:hover::before {
      transform: scaleX(1); }
  a::before {
    content: "";
    background-color: #F04F47;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    position: absolute;
    bottom: 0;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out; }

h1 {
  font-size: 6rem; }

#fiona {
  border-radius: 50%; }

.white-font {
  color: #F9FAE1; }

.red-font {
  color: #F04F47; }

.skills-ball {
  height: 300px; }

.ball {
  margin: 20px; }

.logo-img:hover, .icon-small:hover {
  opacity: 0.6; }
  .logo-img:hover::before, .icon-small:hover::before {
    transform: scaleX(0); }

.logo-img {
  float: left;  
}

.logo-img img {
  width: 60px;
  height: 60px;
  margin: 20px 40px 20px 0;
}

.row {
  overflow: hidden;
  /*width: 600px;*/
  width: 50%;
  margin: 30px auto;
  /*padding: 0 150px;*/
}


.proj-desc {
  float: left;
  width: 80%;
}

@media (max-width: 782px){
  .row {
    width: 80%;
  }
}